<!--
============================================
; Title:  index.ejs
; Author: Professor Krasso
; Date:   03 May 2020
; Modified By: Janet Blohn
; Last Modified Date: N/A
; Description: Express Main View for API-Gateway Project
============================================
-->
<!DOCTYPE html>
<html>
  <head>
    <!-- Add to avoid favicon error messages on Firefox and Chrome consoles -->
    <link rel="shortcut icon" href="">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
